<!DOCTYPE html>
<html ng-app="freelance">
  <head>
    <title>AMBY Project</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Viewport mobile tag for sensible mobile support -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <!--STYLES END-->
  </head>

  <body>
  <header class="" style="height:50px; padding10px; width:80%; background-color:#203; margin:0 auto; margin-bottom:20px;" >
    <% if(session.authenticated){ %>
    <a href="/session/logout" style="float:right;" class="btn  btn-info">Logout</a>
    <%}else {%>
    <a href="/user/signup" style="float:right;" class="btn  btn-info">Sign Up</a>
    <%}%>
  </header>
    <%- body %>


    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/app.js"></script>
    <script src="/js/anguler/anguscript.js"></script>
    <!--SCRIPTS END-->
    
    
  </body>
</html>
