<meta http-equiv="refresh" content="10000000">
<div class="well well-sm" style="height:170px;  width:400px; margin:0 auto; margin-top:50PX;" >
<h3>hello this is index page</h3>
<p>
  here sis some test
</p>
<a href="/user/signup" class="btn btn-success">Sign Up Now</a>
<div>