<div class="well well-sm" style="height:auto;  width:400px; margin:0 auto; margin-top:50PX;" >

<h3>Please sign in</h3>
		<form name="loginForm" class="form-signin" method="post" action="/session/create">
			<div class="form-elm">
			<input type="text" name="email" class="
			form-control form-elm" ng-model="email" placeholder="User Name" required>
			</div>
			<!-- <span ng-show="loginForm.userName.$invalid" ></span> -->
			
			
			<div class="form-elm">
			<input type="password" name="password" class="form-control form-elm" ng-model="passwprd" placeholder="Password" required>
			</div>
			
			<input type="submit"  class="form-elmbtn btn-primary btn-lg btn-block" >
			
		</form>
</div>
